{% extends 'base.html' %}


{% block title %}
<title>Registration Form</title>
{% endblock %}


{% block content %}

<div class="login">
	<h1>Registration</h1>
    <form method="post">
        {% csrf_token %}
        <p class="text-danger">{{ error }}</p>
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <input type="password" name="password1" placeholder="Password again" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
    </form>
</div>

{% endblock %}




